@page "/"

@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Signed in</PageTitle>

<p>You have been signed in!</p>

@code {
    private ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        
        // TODO: Check db for user information and create of not existing
        // uid - userid
        // name - name
        // preferred_username - email
    }
}